{% include 'header.html' %}
<div class="mainContent">
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src=https://preview.babylonjs.com/inspector/babylon.inspector.bundle.js></script>
    <script src="https://cdn.babylonjs.com/gui/babylon.gui.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <canvas id="renderCanvas" style="width: 100%"></canvas>

    <script>
        const canvas = document.getElementById('renderCanvas');
        const engine = new BABYLON.Engine(canvas, true);
        let allmesh = []
        var pre_panel = ""
        var advancedTexture1 = ""

        var plainMat = "";
        var redMat = "";
        var multiMat = [];


        const createScene = () => {
            const scene = new BABYLON.Scene(engine);
            const camera = new BABYLON.ArcRotateCamera("camera", Math.PI / 2, Math.PI / 4, 10, BABYLON.Vector3.Zero(), scene);
            camera.attachControl(canvas, true);
            const light = new BABYLON.HemisphericLight("light", new BABYLON.Vector3(1, 1, 0), scene);
            const minimumWorld = new BABYLON.Vector3({{ min[0] }}, {{ min[1] }}, {{ min[2] }}); // 边界框的最小点
            const maximumWorld = new BABYLON.Vector3({{ max[0] }}, {{ max[1] }}, {{ max[2] }});

            plainMat = new BABYLON.StandardMaterial("pmat", scene)
            redMat = new BABYLON.StandardMaterial("rmat", scene)
            redMat.diffuseColor = new BABYLON.Color3(1, 0, 0);
            greenMat = new BABYLON.StandardMaterial("gmat", scene)
            greenMat.diffuseColor = new BABYLON.Color3(0, 1, 0);

            const colors = [
                new BABYLON.Color3(0, 0, 1),  // 蓝色
                new BABYLON.Color3(1, 1, 0),  // 黄色
                new BABYLON.Color3(0.5, 0, 0.5), // 紫色
                new BABYLON.Color3(0, 1, 1),  // 青色
                new BABYLON.Color3(1, 0.65, 0), // 橙色
                new BABYLON.Color3(1, 0.41, 0.71), // 粉红色
                new BABYLON.Color3(0.65, 0.16, 0.16), // 棕色
                new BABYLON.Color3(0.5, 0.5, 0.5)  // 灰色
            ];

            colors.forEach((color, index) => {
                const faceMaterial = new BABYLON.StandardMaterial(`mat${index}`, scene);
                faceMaterial.diffuseColor = color;
                multiMat.push(faceMaterial);
            });




            BABYLON.SceneLoader.ImportMesh("", "/static/", "{{ body_id }}.obj", scene, (meshes) => {

                const boundingBox = meshes[0].getBoundingInfo().boundingBox;
                const center = boundingBox.center;
                const extendSize = boundingBox.extendSize;
                camera.setTarget(center);
                const distance = Math.max(extendSize.x, extendSize.y, extendSize.z) * 2; // 相机和物体的距离
                camera.radius = distance;
                camera.alpha = Math.PI / 4;  // 水平旋转角度
                camera.beta = Math.PI / 4;   // 垂直旋转角度
                {#console.log(meshes)#}
                allmesh = meshes
                {#console.log(allmesh)#}
                var facess = {{ faces | tojson }};
                console.log(facess)

                for(let i = 0; i < meshes.length;i++){
                    const mesh = meshes[i]
                    mesh.actionManager = new BABYLON.ActionManager(scene);
                    mesh.material = plainMat;
                    mesh.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnPickTrigger, () => {
                    console.log("模型被点击了！");
                    // 在这里可以执行其他逻辑，例如改变颜色
                    select_face(i, facess[i])
                }));
                }

                const advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("myUI");
                advancedTexture1 = advancedTexture


                var sv = new BABYLON.GUI.ScrollViewer();
                sv.width = "220px";
                sv.height = "100%";
                sv.background = "rgba(0, 0, 0, 0.5)";
                sv.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
                sv.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_CENTER;

                advancedTexture.addControl(sv);



                const facePanel = new BABYLON.GUI.StackPanel();
                facePanel.paddingTop = "10px";
                facePanel.paddingBottom = "10px";
                sv.addControl(facePanel); // 将面板添加到UI层



                // 添加多个按钮到左侧面板
                for (let i = 0; i < facess.length; i++) {
                    const button = BABYLON.GUI.Button.CreateSimpleButton("face" + i, i +": "+facess[i].face_type);
                    button.width = "160px";
                    button.height = "40px";
                    button.color = "white";
                    button.background = "gray";
                    button.paddingTop = "15px";
                    facePanel.addControl(button); // 将按钮添加到面板

                    button.onPointerClickObservable.add(() => {
                        select_face(i, facess[i])
                    });
                }
                facePanel.isVisible = true



                const partPanel = new BABYLON.GUI.StackPanel();
                partPanel.paddingTop = "10px";
                partPanel.paddingBottom = "10px";
                sv.addControl(partPanel); // 将面板添加到UI层

                bodyInfo = {
                    name: "{{ body[1] }}",
                    id: "{{ body[0] }}",
                    note: "",
                    param: [
                        {
                            name: "面数量",
                            value: "{{ body[2] }}"
                        },
                        {
                            name: "材质",
                            value: "无"
                        }
                    ]
                }

                features = [
                    {
                        name: "三段阶梯轴",
                        list: [
                            {
                                faces: [
                                    [5, 6],
                                    [10, 4, 9, 8],
                                    [3, 11]
                                ],
                                param: [
                                    {
                                        name: "length",
                                        value: "97.0"
                                    }
                                ],
                                note: "棒料毛坯，车削加工",
                                parts: [
                                    {
                                        name: "轴段1",
                                        faces: [5, 6],
                                        param: [
                                            {
                                                name: "radius",
                                                value: "10.0"
                                            },
                                            {
                                                name: "length",
                                                value: "39.0"
                                            },
                                            {
                                                name: "depth",
                                                value: "10.0"
                                            }
                                        ],
                                        note: ""
                                    },
                                    {
                                        name: "轴段2",
                                        faces: [10, 4, 9, 8],
                                        param: [
                                            {
                                                name: "radius",
                                                value: "20.0"
                                            },
                                            {
                                                name: "length",
                                                value: "20.0"
                                            },
                                            {
                                                name: "depth",
                                                value: "0"
                                            }
                                        ],
                                        note: ""
                                    },
                                    {
                                        name: "轴段3",
                                        faces: [3, 11],
                                        param: [
                                            {
                                                name: "radius",
                                                value: "15.0"
                                            },
                                            {
                                                name: "length",
                                                value: "38.0"
                                            },
                                            {
                                                name: "depth",
                                                value: "5.0"
                                            }
                                        ],
                                        note: ""
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        name: "凹槽",
                        list: [
                            {
                                faces: [
                                    [17],
                                    [2, 13, 14, 15, 16]
                                ],
                                note: "",
                                param: [
                                    {
                                        name: "depth",
                                        value: "4.142135623730974"
                                    }
                                ],
                                parts: [
                                    {
                                        name: "bottom",
                                        faces: [17],
                                        param: [],
                                        note: ""
                                    },
                                    {
                                        name: "edge",
                                        faces: [2, 13, 14, 15, 16],
                                        param: [],
                                        note: ""
                                    }
                                ]
                            },
                        ]
                    },
                    {
                        name: "圆柱体倒角",
                        list: [
                            {
                                faces: [[1, 18]],
                                param: [
                                    {
                                        name: "angle",
                                        value: "0.7853981633974453"
                                    },
                                    {
                                        name: "width",
                                        value: "2.8284271247462027"
                                    },
                                ],
                                note: "",
                                parts: [
                                    {
                                        name: "edge",
                                        faces: [1, 18],
                                        param: [],
                                        note: ""
                                    }
                                ]
                            },
                            {
                                faces: [[0, 19]],
                                param: [
                                    {
                                        name: "angle",
                                        value: "0.7853981633974453"
                                    },
                                    {
                                        name: "width",
                                        value: "2.8284271247462027"
                                    },
                                ],
                                note: "",
                                parts: [
                                    {
                                        name: "edge",
                                        faces: [0, 19],
                                        param: [],
                                        note: ""
                                    }
                                ]
                            }
                        ]
                    }
                ]

                if ("{{ body_id }}" !== "zhou1") {
                    features = []
                }
                const button0 = BABYLON.GUI.Button.CreateSimpleButton("body", bodyInfo.name);
                button0.width = "200px";
                button0.height = "40px";
                button0.color = "white";
                button0.background = "gray";
                button0.paddingTop = "15px";
                partPanel.addControl(button0);
                button0.onPointerClickObservable.add(() => {
                    select_feature(bodyInfo.name, [], bodyInfo.param, bodyInfo.note)
                });
                // 添加多个按钮到左侧面板
                for (let i = 0; i < features.length; i++) {
                    featuresName = features[i].name;
                    for (let j = 0; j < features[i].list.length; j++) {
                        const feature = features[i].list[j];
                        const button = BABYLON.GUI.Button.CreateSimpleButton("feature" + i + "," + j, featuresName + "-" + j);
                        button.width = "160px";
                        button.height = "40px";
                        button.color = "white";
                        button.background = "gray";
                        button.paddingTop = "15px";
                        partPanel.addControl(button); // 将按钮添加到面板
                        button.onPointerClickObservable.add(() => {
                            select_feature(featuresName + "-" + j, feature.faces, feature.param, feature.note)
                        });
                        for(let k = 0; k < feature.parts.length; k++){
                            const part = feature.parts[k];
                            const button1 = BABYLON.GUI.Button.CreateSimpleButton("part" + i + "," + j + "," + k,
                                part.name);
                            button1.width = "160px";
                            button1.height = "40px";
                            button1.color = "white";
                            button1.background = "gray";
                            button1.paddingTop = "15px";
                            button1.paddingLeft = "40px";
                            partPanel.addControl(button1); // 将按钮添加到面板
                            button1.onPointerClickObservable.add(() => {
                                select_part(part.name, part.faces, part.param, part.note)

                            });
                        }
                    }
                }

                partPanel.isVisible = false



                const switchButton = BABYLON.GUI.Button.CreateImageOnlyButton("iconButton", "/static/img/switch.png");
                switchButton.width = "60px";   // 按钮宽度
                switchButton.height = "60px";  // 按钮高度
                switchButton.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT; // 左对齐
                switchButton.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;   // 垂直居中
                switchButton.left = "235px"
                switchButton.top = "15px"
                switchButton.thickness = 5
                switchButton.color = "grey";
                advancedTexture.addControl(switchButton);
                switchButton.onPointerUpObservable.add(() => {
                    var vb = partPanel.isVisible
                    partPanel.isVisible = facePanel.isVisible
                    facePanel.isVisible = vb
                })



            });




            return scene;
        };

        const scene = createScene();
        engine.runRenderLoop(() => {
            scene.render();
        });

        window.addEventListener('resize', () => {
            engine.resize();
        });

        var pre_select_idx = 0
        var pre_select_idx_all = []

        function select_face(idx, ct){
            pre_select_idx_all.push(pre_select_idx)
            pre_select_idx_all.forEach((face_idx) => {
                const omesh = allmesh[face_idx]
                omesh.material = plainMat
            });

            const mesh = allmesh[idx]; // 获取第一个模型
            mesh.material = redMat
            pre_select_idx = idx
            pre_select_idx_all = []

            if(pre_panel !== "") {
                advancedTexture1.removeControl(pre_panel)
            }

            var rect1 = new BABYLON.GUI.StackPanel();
            rect1.width = "450px";
            {#rect1.height = "500px";#}
            rect1.cornerRadius = 20;
            rect1.color = "rgba(255, 255, 255, 0.5)";
            rect1.thickness = 4;
            rect1.background = "rgba(0, 0, 0, 0.5)";
            rect1.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
            rect1.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
            advancedTexture1.addControl(rect1);

            const textBlock = new BABYLON.GUI.TextBlock();
            textBlock.text = 'face'+idx+": "+ct.face_type;
            textBlock.color = "white"; // 文本颜色
            textBlock.fontSize = 24; // 字体大小
            textBlock.height = "50px"
            rect1.addControl(textBlock);

            for(let i = 0; i<ct.params.length;i++){
                const prm = ct.params[i]
                const lineBlock = new BABYLON.GUI.TextBlock();
                lineBlock.text = prm;
                lineBlock.width = "400px";
                lineBlock.color = "white"; // 文本颜色
                lineBlock.fontSize = 16; // 字体大小
                lineBlock.textWrapping = true;
                lineBlock.resizeToFit = true
                lineBlock.textHorizontalAlignment = "left"
                rect1.addControl(lineBlock);
            }

            const comment = new BABYLON.GUI.TextBlock();
            comment.text = "注释: "+ct.note;
            comment.color = "white";
            comment.width = "400px";
            comment.fontSize = 16;
            comment.textWrapping = true;
            comment.resizeToFit = true
            comment.textHorizontalAlignment = "left"
            comment.paddingTop = "10px"
            rect1.addControl(comment);

            const inputText = new BABYLON.GUI.InputTextArea("noteInput", "Some initial text");
            inputText.text = ct.note; // 初始文本为原注释文本
            inputText.width = "400px";
            inputText.autoStretchHeight = true;
            inputText.color = "white";
            inputText.fontSize = 16;
            inputText.background = "gray";
            inputText.isVisible = false;
            rect1.addControl(inputText);

            var buttonsPanel = new BABYLON.GUI.StackPanel();
            buttonsPanel.isVertical = false;
            buttonsPanel.paddingTop = "20px"
            buttonsPanel.paddingBottom = "20px"
            buttonsPanel.width = "400px";
            buttonsPanel.height = "70px";
            rect1.addControl(buttonsPanel);

            const showPointButton = BABYLON.GUI.Button.CreateSimpleButton("showPointButton", "显示控制点");
            showPointButton.width = "280px";
            showPointButton.height = "30px";
            showPointButton.color = "white";
            showPointButton.background = "gray";
            showPointButton.paddingRight = "160px"
            if(ct.face_type !== "B样条曲面") {

                showPointButton.isVisible = false;
            } else {
                showPointButton.onPointerClickObservable.add(() => {

            });
            }
            buttonsPanel.addControl(showPointButton);



            const editButton = BABYLON.GUI.Button.CreateSimpleButton("editBtn", "编辑注释");
            editButton.width = "120px";
            editButton.height = "30px";
            editButton.color = "white";
            editButton.background = "green";
            buttonsPanel.addControl(editButton);

            {#const editButton2 = BABYLON.GUI.Button.CreateSimpleButton("editBtn", "编辑特征");#}
            {#editButton2.width = "220px";#}
            {#editButton2.height = "30px";#}
            {#editButton2.color = "white";#}
            {#editButton2.background = "blue";#}
            {#editButton2.paddingLeft = "100px"#}
            {#buttonsPanel.addControl(editButton2);#}

            const saveButton = BABYLON.GUI.Button.CreateSimpleButton("saveBtn", "保存注释");
            saveButton.width = "120px";
            saveButton.height = "30px";
            saveButton.color = "white";
            saveButton.background = "blue";
            saveButton.isVisible = false;
            buttonsPanel.addControl(saveButton);


            editButton.onPointerClickObservable.add(() => {
                comment.isVisible = false;
                editButton.isVisible = false;
                inputText.isVisible = true;
                saveButton.isVisible = true;

            });

            saveButton.onPointerClickObservable.add(() => {
                comment.isVisible = true;
                editButton.isVisible = true;
                inputText.isVisible = false;
                saveButton.isVisible = false;
                ct.note = inputText.text;
                comment.text = "注释: "+ct.note;

                const face_info = JSON.stringify(ct);
                const formData = `id={{ body_id }}&index=`+idx+`&face=${encodeURIComponent(face_info)}`;

                fetch('/update_step_data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: formData // 发送数据
                })
                .then(response => response.json())
                .then(data => {
                    console.log('POST Response from Flask:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });


            rect1.linkWithMesh(mesh);
            rect1.linkOffsetX = 400
            rect1.linkOffsetY = -100

            pre_panel = rect1

        }

        function select_part(name, faces, param, note){
            pre_select_idx_all.push(pre_select_idx)
            pre_select_idx_all.forEach((face_idx) => {
                const omesh = allmesh[face_idx]
                omesh.material = plainMat
            });

            pre_select_idx = 0
            pre_select_idx_all = faces.slice()

            pre_select_idx_all.forEach((face_idx) => {
                const mesh = allmesh[face_idx]; // 获取第一个模型
                mesh.material = greenMat
            });

            if(pre_panel !== "") {
                advancedTexture1.removeControl(pre_panel)
            }


            var rect1 = new BABYLON.GUI.StackPanel();
            rect1.width = "450px";
            rect1.left = "-100px";
            rect1.top = "-100px";
            rect1.cornerRadius = 20;
            rect1.color = "rgba(255, 255, 255, 0.5)";
            rect1.thickness = 4;
            rect1.background = "rgba(0, 0, 0, 0.5)";
            rect1.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_RIGHT;
            rect1.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_CENTER;
            rect1.paddingBottom = "20px"
            advancedTexture1.addControl(rect1);

            const textBlock = new BABYLON.GUI.TextBlock();
            textBlock.text = name;
            textBlock.color = "white"; // 文本颜色
            textBlock.fontSize = 24; // 字体大小
            textBlock.height = "50px"
            rect1.addControl(textBlock);

            for(let i = 0; i<param.length;i++){
                const prm = param[i]
                const lineBlock = new BABYLON.GUI.TextBlock();
                lineBlock.text = prm.name + ": " + prm.value;
                lineBlock.width = "400px";
                lineBlock.color = "white"; // 文本颜色
                lineBlock.fontSize = 16; // 字体大小
                lineBlock.textWrapping = true;
                lineBlock.resizeToFit = true
                lineBlock.textHorizontalAlignment = "left"
                rect1.addControl(lineBlock);
            }

            const comment = new BABYLON.GUI.TextBlock();
            comment.text = "注释: " + note;
            comment.color = "white";
            comment.width = "400px";
            comment.fontSize = 16;
            comment.textWrapping = true;
            comment.resizeToFit = true
            comment.textHorizontalAlignment = "left"
            comment.paddingTop = "10px"
            rect1.addControl(comment);

            var buttonsPanel = new BABYLON.GUI.StackPanel();
            buttonsPanel.isVertical = false;
            buttonsPanel.paddingTop = "20px"
            buttonsPanel.paddingBottom = "20px"
            buttonsPanel.width = "400px";
            buttonsPanel.height = "70px";
            rect1.addControl(buttonsPanel);

            const editButton = BABYLON.GUI.Button.CreateSimpleButton("editBtn", "编辑注释");
            editButton.width = "120px";
            editButton.height = "30px";
            editButton.color = "white";
            editButton.background = "green";
            buttonsPanel.addControl(editButton);

            pre_panel = rect1
        }

        function select_feature(name, faces, param, note){
            pre_select_idx_all.push(pre_select_idx)
            pre_select_idx_all.forEach((face_idx) => {
                const omesh = allmesh[face_idx]
                omesh.material = plainMat
            });

            pre_select_idx = 0
            pre_select_idx_all = []

            for(let i = 0; i < faces.length; i++) {
                faces[i].forEach((face_idx) => {
                    const mesh = allmesh[face_idx]; // 获取第一个模型
                    mesh.material = multiMat[i]
                    pre_select_idx_all.push(face_idx)
                });
            }

            if(pre_panel !== "") {
                advancedTexture1.removeControl(pre_panel)
            }


            var rect1 = new BABYLON.GUI.StackPanel();
            rect1.width = "450px";
            rect1.left = "-100px";
            rect1.top = "-100px";
            rect1.cornerRadius = 20;
            rect1.color = "rgba(255, 255, 255, 0.5)";
            rect1.thickness = 4;
            rect1.background = "rgba(0, 0, 0, 0.5)";
            rect1.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_RIGHT;
            rect1.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_CENTER;
            rect1.paddingBottom = "20px"
            advancedTexture1.addControl(rect1);

            const textBlock = new BABYLON.GUI.TextBlock();
            textBlock.text = name;
            textBlock.color = "white"; // 文本颜色
            textBlock.fontSize = 24; // 字体大小
            textBlock.height = "50px"
            rect1.addControl(textBlock);

            for(let i = 0; i<param.length;i++){
                const prm = param[i]
                const lineBlock = new BABYLON.GUI.TextBlock();
                lineBlock.text = prm.name + ": " + prm.value;
                lineBlock.width = "400px";
                lineBlock.color = "white"; // 文本颜色
                lineBlock.fontSize = 16; // 字体大小
                lineBlock.textWrapping = true;
                lineBlock.resizeToFit = true
                lineBlock.textHorizontalAlignment = "left"
                rect1.addControl(lineBlock);
            }

            const comment = new BABYLON.GUI.TextBlock();
            comment.text = "注释: " + note;
            comment.color = "white";
            comment.width = "400px";
            comment.fontSize = 16;
            comment.textWrapping = true;
            comment.resizeToFit = true
            comment.textHorizontalAlignment = "left"
            comment.paddingTop = "10px"
            rect1.addControl(comment);

            var buttonsPanel = new BABYLON.GUI.StackPanel();
            buttonsPanel.isVertical = false;
            buttonsPanel.paddingTop = "20px"
            buttonsPanel.paddingBottom = "20px"
            buttonsPanel.width = "400px";
            buttonsPanel.height = "70px";
            rect1.addControl(buttonsPanel);

            const editButton = BABYLON.GUI.Button.CreateSimpleButton("editBtn", "编辑注释");
            editButton.width = "120px";
            editButton.height = "30px";
            editButton.color = "white";
            editButton.background = "green";
            buttonsPanel.addControl(editButton);

            pre_panel = rect1
        }

        window.addEventListener('resize', () => {
            engine.resize();
        });
    </script>

</div>
{% include 'footer.html' %}

